{extend name="base" /}

{block name="content"}
{__block__}

<el-card class="box-card">
    <div slot="header" class="clearfix">
        <span>修改密码</span>
    </div>

    <div class="text item text-center" v-loading="form_loading">
        <template>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" size="mini" class="demo-ruleForm">
                        <el-form-item label="用户名" prop="username">
                            <el-input v-model="ruleForm.username" disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="原始密码" prop="password">
                            <el-input v-model="ruleForm.password" type="password" auto-complete="false" clearable="true"></el-input>
                        </el-form-item>

                        <el-form-item label="新密码" prop="password1">
                            <el-input v-model="ruleForm.password1" type="password" auto-complete="false" clearable="true"></el-input>
                        </el-form-item>

                        <el-form-item label="确认密码" prop="password2">
                            <el-input v-model="ruleForm.password2" type="password" auto-complete="false" clearable="true"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm')" :disabled="isDisabled">提交</el-button>
                            <el-button @click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </el-form>

                </el-col>
            </el-row>
        </template>
    </div>


</el-card>

{/block}

{block name="javascript"}
{__block__}


<script type="text/javascript">
    var userData = {$user|raw};
    $(function () {
        var vueBox = new Vue({
            el: '#app',
            data() {
                var validatePass = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入新密码'));
                    } else {
                        if (this.ruleForm.password1 !== '') {
                            this.$refs.ruleForm.validateField('password2');
                        }
                        callback();
                    }
                };
                var validatePass2 = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请再次输入密码'));
                    } else if (value !== this.ruleForm.password1) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                return {
                    isDisabled:false,
                    form_loading:false,
                    ruleForm: {
                        id:'',
                        username: '',
                        password:'',
                        password1:'',
                        password2:''
                    },
                    rules: {
                        username: [
                            { required: true, message: '请输入账号名称', trigger: 'blur' },
                            { min: 3, max: 64, message: '长度在 3 到 64 个字符', trigger: 'blur' }
                        ],
                        password:[
                            { required: true, message: '请输入原密码', trigger: 'blur' },
                            { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
                        ],
                        password1:[
                            { validator:validatePass, trigger: 'blur' },
                            { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
                        ],
                        password2:[
                            { validator:validatePass2,trigger: 'blur' },
                            { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
                        ],

                    }
                }
            },
            created: function () {
                this.intUser()
            },
            methods: {
                intUser:function(){
                    var _self = this;
                    _self.ruleForm ={
                        id:userData.id,
                        username: userData.username,
                        password:'',
                        password1:'',
                        password2:''
                    }
                },
                submitForm(formName) {
                    var _self = this;
                    _self.isDisabled=true;
                    _self.form_loading=true;
                    this.$refs[formName].validate((valid) => {
                        _self.isDisabled=false;
                        if (valid) {
                            $.ajax({
                                type:'post',
                                url: "{:url('/api/auth/change-pass')}",
                                data: _self.ruleForm,
                                dataType: 'json',
                                success: function(result) {
                                    if (result.Code === '0') {
                                        _self.$message.success(result.Msg);
                                        window.location.href = '/admin/auth/change-pass';
                                    }else{
                                        _self.form_loading=false;
                                        _self.$message.error(result.Msg);
                                        return false;
                                    }
                                }
                            });
                        } else {
                            _self.form_loading=false;
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    var _self = this;
                    _self.isDisabled=false;
                    this.$refs[formName].resetFields();
                }
            }
        })
    });
</script>

{/block}

