{extend name="base" /}

{block name="content"}
{__block__}

<el-card class="box-card">
    <div slot="header" class="clearfix">
        <span>{{ruleForm.title}}-功能权限分配</span>
    </div>

    <div class="text item text-center">
        <template>
            <el-row :gutter="20">
                <el-col :span="18">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" size="mini" class="demo-ruleForm">
                        <el-form-item label="角色权限">
                            <template>
                                <el-card class="box-card" shadow="never">
                                    <div class="text item">
                                        <el-row :gutter="20" v-for="item in ruleList" style="border-bottom: 1px dashed #bebebe">
                                            <el-col :span="4">
                                                <el-checkbox :true-label="item.id" :false-label="'f_'+item.id" :lable="item.id" :key="item.id" @change="changeCheck" :checked="checkedCD(item.id)">{{item.label}}</el-checkbox>
                                            </el-col>
                                            <el-col :span="18" style="border-left: 1px dashed #bebebe">
                                                <el-row :gutter="20">
                                                    <el-col :span="8" v-for="itemC in item.children">
                                                        <el-checkbox :true-label="itemC.id" :false-label="'f_'+itemC.id" :lable="itemC.id" :key="itemC.id" @change="changeCheck" :checked="checkedCD(itemC.id)">{{itemC.label}}</el-checkbox>
                                                    </el-col>
                                                </el-row>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </el-card>
                            </template>
                        </el-form-item>
                        <el-form-item>
                            <el-button size="mini" type="primary" @click="submitForm('ruleForm')" :disabled="isDisabled">提交</el-button>
                            <el-button size="mini" @click="javascript:history.go(-1);location.replace(document.referrer);">返回</el-button>
                        </el-form-item>
                    </el-form>

                </el-col>
            </el-row>
        </template>
    </div>


</el-card>

{/block}

{block name="javascript"}
{__block__}


<script type="text/javascript">
    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };
    function getQuery(){
        var url = location.search;//获取url中"?"符后的字串
        var theRequest ={};
        if(url.indexOf("?")!=-1){
            var str = url.substr(1);
            strs = str.split("&");
            for(var i =0; i < strs.length; i ++){
                theRequest[strs[i].split("=")[0]]= unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    window.params = getQuery();
    $(function () {
        var vueBox = new Vue({
            el: '#app',
            data: {
                isDisabled:false,
                ruleForm: {
                    id:'',
                    title: '',
                    rules:''
                },
                rules: {
                    title:[
                        { required: true, message: '请输入角色名称', trigger: 'blur' },
                        { min: 2, max: 64, message: '长度在 2 到 64 个字符', trigger: 'blur' }
                    ]
                },
                id:window.getQuery().id,
                groupInfo:[],
                ruleList:[],
                groupRules:[]
            },
            created: function () {
                this.query = window.getQuery();
                this.getGroupRules(this.query.id);
                this.getGroupInfo(this.query.id);
                //this.getRuleList();
            },
            methods: {
                checkedCD:function(val){
                    var _self = this;
                    var check = false;
                    _self.groupRules.forEach(function (item) {
                        if(parseInt(item)===parseInt(val)){
                            check = true
                        }
                    });
                    return check;
                },
                changeCheck:function(items){
                    var str = items.toString();
                    var s = str.indexOf("f_");
                    var _self = this;
                    //console.info(_self.groupRules)
                    if(s!=-1){
                        var stringObj = items.replace("f_", "")

                        _self.groupRules.remove(stringObj.toString())
                    }else{
                        _self.groupRules.push(items.toString())
                    }

                    //console.info(_self.groupRules)
                },
                submitForm: function(formName) {
                    var _self = this;
                    _self.isDisabled=true;

                    var checkIds = _self.groupRules;
                    //console.info(checkIds);
                    this.$refs[formName].validate(function (valid) {
                        _self.isDisabled=false;
                        if (valid) {
                            $.ajax({
                                type:'post',
                                url: "{:url('/api/auth/save-group')}",
                                data: $.extend({},_self.ruleForm,{check_ids:checkIds}),
                                dataType: 'json',
                                success: function(result) {
                                    if (result.Code === '0') {
                                        _self.$message.success(result.Msg);
                                        window.location.href = '/admin/auth/group';
                                    }else{
                                        _self.$message.error(result.Msg);
                                        return false;
                                    }
                                }
                            });
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                getRuleList: function () {
                    var selfObj = this;
                    $.ajax({
                        type:'post',
                        url: "{:url('/api/auth/rule-list')}",
                        data: {type:'channel'},
                        dataType: 'json',
                        success: function(result) {
                            if (result.Code === '0') {
                                var resultData = result.Data;
                                selfObj.ruleList = resultData
                                console.info(selfObj.ruleList)
                            }
                        }
                    });
                },
                getGroupRules: function (id) {
                    var selfObj = this;
                    $.when($.ajax({
                        type:'post',
                        url: "{:url('/api/auth/group-rule-ids')}",
                        data: {id:id},
                        dataType: 'json',
                        success: function(result) {
                            if (result.Code === '0') {
                                var resultData = result.Data;
                                selfObj.groupRules = resultData
                            }
                        }
                    })).then(function () {
                        selfObj.getRuleList()
                    });
                },
                getGroupInfo: function (id) {
                    var selfObj = this
                    $.ajax({
                        type:'post',
                        url: "{:url('/api/auth/group-info')}",
                        data: {id:id},
                        dataType: 'json',
                        success: function(result) {
                            if (result.Code === '0') {
                                var resultData = result.Data;
                                if(resultData.id){
                                    selfObj.groupInfo = resultData;
                                    selfObj.ruleForm = resultData;
                                }
                            }
                        }
                    });
                },
            }
        })
    });
</script>

{/block}

