{extend name="base" /}

{block name="content"}
{__block__}

<div class="flex">
    <div class="flex-auto">
        <div class="card-wrap mb2">
            <div class="card-header">
                <span class="card-title">快捷入口</span>
            </div>
            <div class="card-body">
                <span>不知道放啥</span>
            </div>
        </div>

    </div>
</div>

{/block}

{block name="javascript"}
{__block__}

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {

        },
        methods: {
            XX: function () {

            }
        }
    });
</script>

{/block}